{% extends 'base.html.twig' %}

{% block title %}{{ 'Users'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

<h1><i class="fas fa-store"></i> {{ 'Users'|trans }}</h1>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Pseudo'|trans }}</th>
            <th scope="col">{{ 'Full Name'|trans }}</th>
            <th scope="col">{{ 'Email'|trans }}</th>
            <th scope="col">{{ 'Roles'|trans }}</th>
            <th scope="col">{{ 'Registration date'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Activated'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.userName }}</td>
        <td>{{ user.fullName }}</td>
        <td>{{ user.email }}</td>
        <td>{% for role in user.roles %}{{ role|trans }}<br>{% endfor %}</td>
        <td>{{ user.inscriptionDate|format_datetime()  }}</td>
        <td class="text-center mdIcon">{% if user.published %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
        <td class="text-center">
            <a href="{{ path('user_edit', { 'user': user.id }) }}" class="btn btn-info" title="{{ 'Edit'|trans
            }}"><i class="fas fa-edit"></i></a>
            <form method="post" action="{{ path('admin_user_delete', { 'id': user.id }) }}" class="d-inline"
                  onsubmit="return confirm('{{ 'Do you really want to delete this user?'|trans }}')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('deleteUser' ~ user.id) }}">
                <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('user_registration')}}" class="btn btn-dark">{{ 'New user'|trans }}</a>

{% endblock %}
