{% extends 'base.html.twig' %}

{% block title %}{{ 'Log in'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.user %}

        <div class="mb-3">
            {{ 'You are logged in as'|trans }} {{ app.user.username }}, <a href="{{ path('logout') }}">{{
                'Logout'|trans }}</a>
        </div>

    {% else %}

        <div class="card mx-auto mt-5" style="width: 18rem;">
            <div class="card-header">
                <h1 class="card-title"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'Log in'|trans }}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <form  method="post">
                                <fieldset>
                                    <div class="form-group">
                                        <label for="inputUserName">{{ 'label.username'|trans }}</label>
                                        <input type="text" id="inputUserName" name="username" value="{{ last_username
                                        }}" class="form-control" required autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword">{{ 'label.password'|trans }}</label>
                                        <input type="password" id="inputPassword" name="password" class="form-control" required>
                                    </div>
                                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <a class="nav-link" href="{{ path('user_registration')}}">
                    <span>{{ 'Create an account'|trans }}</span>
                </a>
            </div>
        </div>
        <div class="text-center small">
            <a class="nav-link" href="{{ path('forgotten_password')}}">{{ 'Forgot password'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}