{% extends 'base.html.twig' %}

{% block title %}{{ 'Forgot password'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if app.user %}

        <div class="mb-3">
            {{ 'You are logged in as'|trans }} {{ app.user.username }}, <a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a>
        </div>

    {% else %}

        <div class="card mx-auto mt-5 w-75">
            <div class="card-header">
                <h1 class="card-title"><i class="fa fa-key" aria-hidden="true"></i> {{ 'Forgot password'|trans }}</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            {{ form_start(emailForm) }}
                                <fieldset>
                                    <div class="form-group">
                                        <label for="inputEmail">{{ form_label(emailForm.email) }}</label>
                                        {{ form_widget(emailForm.email) }}
                                    </div>
                                    {{ form_row(emailForm.submit, { 'label': 'Change my password'|trans }) }}
                                </fieldset>
                            {{ form_end(emailForm) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-center">
                <a class="nav-link" href="{{ path('login')}}">
                    <span>{{ 'Log in'|trans }}</span>
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}