{% extends 'base.html.twig' %}

{% block title %}{{ 'New password'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="card mx-auto mt-5 w-75">
    <div class="card-header">
        <h1 class="card-title"><i class="fa fa-key" aria-hidden="true"></i> {{ 'New password'|trans }}</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    {{ form_start(newPasswordForm) }}
                    <fieldset>
                        <div class="form-group">

                            {{ form_widget(newPasswordForm.plainPassword) }}
                        </div>
                        {{ form_row(newPasswordForm.submit, { 'label': 'Change my password'|trans }) }}
                    </fieldset>
                    {{ form_end(newPasswordForm) }}
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer text-center">
        <a class="nav-link" href="{{ path('login')}}">
            <span>{{ 'Log in'|trans }}</span>
        </a>
    </div>
</div>
{% endblock %}
