{% extends 'emails/baseMail.html.twig' %}

{% block body %}

    <p>{{ 'Hello'|trans({}, 'mails') }}</p>

    <p>{{ 'Your account has been created.'|trans({}, 'mails') }}</p>

    <p>{{ 'To activate your account, please click on the button below.'|trans({}, 'mails') }}</p>

    <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Activate my account'|trans({}, 'mails')
                    }}</a></p>

    <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}