{{ 'Hello'|trans({}, 'mails') }}

{{ 'Your account has been created.'|trans({}, 'mails') }}

{{ 'In order to activate your account, copy/paste the following link into your browser.'|trans({}, 'mails') }}

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}