{% extends 'emails/baseMail.html.twig' %}

{% block body %}

        <p>{{ 'Hello'|trans({}, 'mails') }}</p>

        <p>{{ 'A password change request has been made for your account.'|trans({}, 'mails') }}</p>

        <p>{{ 'If you do wish to change your password, please click on the link below. Otherwise, just ignore this message.'|trans({}, 'mails') }}</p>

        <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Change my password'|trans({}, 'mails') }}</a></p>

        <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}