{{ 'Hello'|trans({}, 'mails') }}

{{ 'A password change request has been made for your account.'|trans({}, 'mails') }}

{{ 'If you would like to change your password, please copy / paste the link below into your browser. Otherwise, just ignore this message.'|trans({}, 'mails') }}

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}