{{ 'Hello'|trans({}, 'mails') }}

{{ 'A product search has been modified in the "%category%" category you are looking at.'|trans({'%category%':context_category}, 'mails') }}

{{ 'To view this research, copy/paste the following link into your browser.'|trans({}, 'mails') }}:

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}

{{ 'If you no longer wish to receive an email of this type, please change your account preferences by following this link'|trans({}, 'mails') }}: {{ absolute_url(path('my_account_edit')) }}