{% extends 'emails/baseMail.html.twig' %}

{% block body %}

        <p>{{ 'Hello'|trans({}, 'mails') }}</p>

        <p>{{ 'A product search has been filed under the "%category%" category you are watching.'|trans({'%category%':context_category}, 'mails') }}</p>

        <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Consult research'|trans({}, 'mails')
                }}</a></p>

        <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}