{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ 'Adding a user'|trans }} | {{ parent() }}
    {% else %}
        {{ 'Registration'|trans }} | {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    <div class="card mx-auto mt-5" style="width: 54rem;">
        <div class="card-header">
            <h1 class="card-title">
                <i class="fa fa-user" aria-hidden="true"></i>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ 'Adding a user'|trans }}
                {% else %}
                    {{ 'Registration'|trans }}
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <form  method="post">
                            <fieldset>

                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.userName) }}
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <div class="col-md-6">
                                        {{ form_row(form.published) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(form.fullName) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>

                            {{ form_rest(form) }}


                            {% if is_granted('ROLE_ADMIN') %}
                                <h1><button class="btn btn-primary">{{ button|default('Adding the user'|trans) }}</button></h1>
                            {% else %}
                                <h1><button class="btn btn-primary">{{ button|default('I\'m registering'|trans) }}</button></h1>
                            {% endif %}

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}