{% extends 'base.html.twig' %}

{% block title %}{{ 'Notifications'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <a href="{{ path('mark_all_as_read') }}" class="float-right text-info noUnderline" title="{{ "Mark all as read"|trans }}">
        <i class="fas fa-envelope-open h3"></i> {{ "Mark all as read"|trans }}
    </a>
    <h1><i class="fas fa-store"></i> {{ 'Notifications'|trans }}</h1>

    <div class="row notifications">
        <div class="col-12">

            {% for user_notification in notifications %}
                {% if user_notification.notification.objectChanged == "ProductSearch" %}
                    {% set color = "primary" %}
                    {% if user_notification.notification.eventType == "new" %}
                        {% set message %}
                            {{ "A search has been launched in a category that you are monitoring."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "edit" %}
                        {% set message %}
                            {{ "A search has been edited in a category that you are monitoring."|trans }}
                        {% endset %}
                    {% endif %}
                {% elseif user_notification.notification.objectChanged == "SellProposal" %}
                    {% set color = "info" %}
                    {% if user_notification.notification.eventType == "new" %}
                        {% set message %}
                            {{ "You have received a new offer for your search."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "edit" %}
                        {% set message %}
                            {{ "An offert for your search have been modified."|trans }}
                        {% endset %}
                    {% endif %}
                {% elseif user_notification.notification.objectChanged == "TransportSearch" %}
                    {% set color = "info" %}
                    {% if user_notification.notification.eventType == "new" %}
                        {% set message %}
                            {{ "You have received a new transport offer."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "edit" %}
                        {% set message %}
                            {{ "A transport offer have been modified."|trans }}
                        {% endset %}
                    {% endif %}
                {% elseif user_notification.notification.objectChanged == "TransportProposal" %}
                    {% set color = "warning" %}
                    {% if user_notification.notification.eventType == "new" %}
                        {% set message %}
                            {{ "You have received a new transport proposal."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "edit" %}
                        {% set message %}
                            {{ "A transport proposal have been modified."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "buyerAgree" %}
                        {% set color = "success" %}
                        {% set message %}
                            {{ "Your offer has been accepted."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "delete" %}
                        {% set message %}
                            {{ "A transport offer have been deleted."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "isInDelivering" %}
                        {% set message %}
                            {{ "Your product is being delivered."|trans }}
                        {% endset %}
                    {% elseif user_notification.notification.eventType == "isDelivered" %}
                        {% set message %}
                            {{ "Your product has been delivered."|trans }}
                        {% endset %}
                    {% else %}
                        {% set message %}
                            {{ "There is no message for this event type."|trans }} - {{ user_notification.notification.eventType }}
                        {% endset %}
                    {% endif %}
                {% endif %}

            <a href="{{ path('mark_as_read', {'userNotification':user_notification.Id }) }}">
                <div class="card mb-4 py-3{% if user_notification.readAt %} border-left-secondary text-gray-500{% else %} border-left-{{ color }}{% endif %}">
                    <div class="card-body">
                        <div class="small text-gray-500">{{ user_notification.notification.createdAt|date("d/m/Y", "Europe/Paris") }}</div>
                        <div{% if user_notification.readAt %} class="text-gray-500"{% endif %}>
                            {{ message }}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}

            {% if not user_notifications %}
                {{ "You have no notifications."|trans }}
            {% endif %}
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(notifications) }}
    </div>

{% endblock %}