{% extends 'base.html.twig' %}

{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class="row">
    <div class="col-12 col-md-6 mx-auto text-center">
        <main role="main" class="inner cover">
            <img src="{{ asset('/build/titre-blanc-700x228.png') }}" title="{{ 'Mycelium project'|trans }}" alt="{{ 'Mycelium project'|trans }}">
            <h1>Qu'est-ce que Mycelium ?</h1>
            <p class="lead text-justify">Ce projet a pour but de mutualiser les stocks des commerçants et producteurs en s'appuyant sur les flux pendulaires domicile/travail de Consom'Acteurs assurant le transfert des produits.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">En savoir plus</a>
            </p>
        </main>
    </div>
</div>

{% endblock %}
