{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'What profile do you want to create?'|trans }}</h1>
    <div class="row mt-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ 'Transporter'|trans }}</h4>
                    <p class="card-text">{{ 'Do you want to take advantage of your daily journeys to transport products in exchange for advantages at your merchants?'|trans }}</p>
                    <a href="{{ path('transporter_add') }}" class="btn btn-primary">{{ 'Become transporter!'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ 'Merchant / Producer'|trans }}</h4>
                    <p class="card-text">{{ 'Do you want to be able to ask other traders if they have any products in stock that you are missing? Would you like to respond to calls for tenders?'|trans }}</p>
                    <a href="{{ path('merchant_add') }}" class="btn btn-primary">{{ 'I am merchant!'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
