{{ form_start(form) }}

        {{ form_errors(form) }}

        {% if 'ROLE_ADMIN' in current_user.roles %}
                {{ form_row(form.user) }}
        {% endif %}

        <div class="row" id="residenceToWork">
                <div class="col-md">
                        {{ form_row(form.residenceCity) }}
                </div>
                <div class="col-md">
                        {{ form_row(form.workCity) }}
                </div>
        </div>

        <h5 class="text-center">{{ 'city served'|trans }}</h5>

        {{ form_row(form.citiesServed) }}

        {{ form_row(form.published) }}

        <button class="btn btn-primary">{{ buttonValue|trans }}</button>

{{ form_end(form) }}