{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit transporter'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="mb-5">{{ 'Edit transporter'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('transporter/_form.html.twig', {form: form, 'buttonValue': 'Edit'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let $collectionHolder;

        // setup an "add a tag" link
        let $addCitiesServedButton = $('<button type="button" class="add_cities_served_link btn btn-outline-info">{{ 'Add a cities served'|trans }}</button>');
        let $newLinkLi = $('<li></li>').append($addCitiesServedButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.citiesServed');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('input').length);

            $addCitiesServedButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addCitiesServedForm($collectionHolder, $newLinkLi);
            });
        });

        function addCitiesServedForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            let prototype = $collectionHolder.data('prototype');

            // get the new index
            let index = $collectionHolder.data('index');

            let newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
    <script>
        // https://bootsnipp.com/snippets/yym8
        $(function () {

            $('.form-check').each(function () {

                // Settings
                var $widget = $(this),
                    $button = $widget.find('label'),
                    $checkbox = $widget.find('input:checkbox'),
                    $residenceToWorkSelect = $('#residenceToWork select'),
                    settings = {
                        on: {
                            icon: 'icon icon-check'
                        },
                        off: {
                            icon: 'icon icon-unchecked'
                        }
                    };

                $residenceToWorkSelect.on('focusin', function(){
                    $(this).data('val', $(this).val());
                });

                $residenceToWorkSelect.on('change', function(){
                    var prev = $(this).data('val');
                    var current = $(this).val();
                    $('#transporter_citiesServed_' + prev).prop('checked',false);
                    $('#transporter_citiesServed_' + current).prop('checked',true);
                    updateDisplay();
                    $(this).data('val', current);
                });

                // Event Handlers
                $button.on('click', function () {
                    $checkbox.prop('checked');
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });

                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $button.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $button.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$button.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $button
                            .removeClass('btn-default btn-outline-secondary')
                            .addClass('btn-success active');
                    }
                    else {
                        $button
                            .removeClass('btn-success active')
                            .addClass('btn-default btn-outline-secondary');
                    }
                }

                // Initialization
                function init() {

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($button.find('.state-icon').length == 0) {
                        $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                    }
                }
                init();
            });
        });
    </script>
{% endblock %}