{% extends 'base.html.twig' %}

{% block title %}{{ 'Transporters'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-car-side"></i> {{ 'Transporters'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'User'|trans }}</th>
            <th scope="col">{{ 'Delivered cities'|trans }}</th>
            <th scope="col">{{ 'Score'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col" class="text-center">{{ 'Activated'|trans }}</th>
                <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for transporter in transporters %}
            <tr>
                <th scope="row">{{ transporter.id }}</th>
                <td>{{ transporter.user.fullName }}</td>
                <td>
                    {%  for city in transporter.citiesServed %}
                        <span class="btn btn-outline-info btn-sm" >{{ city.name }}</span>
                    {% endfor %}
                </td>
                <td>{% if not transporter.score %}{{ 'No rating'|trans }}{% else %}{{ transporter.score }}{% endif %}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center mdIcon">{% if transporter.published %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                    <td class="text-center">
                        <a href="{{ path('transporter_edit', { 'transporter': transporter.id}) }}" class="btn
                        btn-info" title="{{ 'Edit'|trans }}" ><i class="fas fa-edit"></i></a>
                        <form method="post" action="{{ path('admin_transporter_delete', { 'id': transporter.id }) }}"
                              class="d-inline" onsubmit="return confirm('Souhaitez-vous réellement supprimer ce transporteur ?'{{ 'New user'|trans }})">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('deleteTransporter' ~ transporter.id) }}">
                            <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('transporter_add') }}" class="btn btn-dark">{{ 'New transporter'|trans }}</a>
    {% elseif is_granted('ROLE_TRANSPORTER')  == false %}
        <a href="{{ path('transporter_add') }}" class="btn btn-dark">{{ 'Become transporter'|trans }}</a>
    {% endif %}

{% endblock %}