{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <h1>{{ 'Edit Quantity Unit'|trans }}</h1>

    {{ include('quantity_unit/_form.html.twig', {form: form, 'buttonValue': 'Edit'|trans}) }}

{% endblock %}

