{% extends 'base.html.twig' %}

{% block title %}{{ 'Quantity units'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-boxes"></i> {{ 'Quantity units'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Name'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Code'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for quantityUnit in quantityUnits %}
            <tr>
                <th scope="row">{{ quantityUnit.id }}</th>
                <td>{{ quantityUnit.name }}<br></td>
                <td>{{ quantityUnit.code  }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center">
                        <a href="{{ path('quantity_unit_edit', { 'quantityUnit': quantityUnit.id }) }}" class="btn btn-info" title="{{ 'Edit'|trans}}"><i class="fas fa-edit"></i></a>
                        <form method="post" action="{{ path('quantity_unit_delete', { 'id': quantityUnit.id }) }}"
                              class="d-inline" onsubmit="return confirm('{{ 'Do you really want to delete this quantity unit?'|trans }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('deleteQuantityUnit' ~ quantityUnit.id) }}">
                            <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('quantity_unit_add') }}" class="btn btn-dark">{{ 'Add a new quantity unit'|trans }}</a>

{% endblock %}