{{ form_start(form) }}

{{ form_errors(form.unitPrice) }}

<div class="row">
        <div class="col-md-6">
                {{ form_label(form.unitPrice) }}
                <div class="input-group">
                        {{ form_widget(form.unitPrice) }}
                        <div class="input-group-append">
                                <div class="input-group-text">
                                        <span>€</span>
                                </div>
                        </div>
                </div>
        </div>
        <div class="col-md-6 text-center pt-4">
                {{ form_row(form.published) }}
        </div>
</div>
{{ form_errors(form.qtyAvailable) }}
<div class="row">
        <div class="col-md-6">
                {{ form_label(form.qtyAvailable) }}
                <div class="input-group mb-3 number-spinner">
                        <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon1" data-dir="dwn">-</button>
                        </div>
                        {{ form_widget(form.qtyAvailable, {'attr': {'value': productSearched.quantity}}) }}
                        <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-dir="up">+</button>
                        </div>
                </div>
        </div>
        <div class="col-md-6">
                {{ form_row(form.quantityUnit, {'attr': {'class': 'custom-select', 'value': productSearched.quantityUnit.id}}) }}
        </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
        {{ form_errors(form.seller) }}
        <div class="row">
                <div class="col-md-6">
                        {{ form_label(form.seller) }}
                        {{ form_widget(form.seller, {'attr': {'class': 'custom-select'}}) }}
                </div>
                <div class="col-md-6">
                </div>
        </div>
{% endif %}

{{ form_widget(form) }}

<button class="btn btn-primary mt-3 float-right">{{ buttonValue|trans }}</button>

{{ form_end(form) }}
