{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit my offer'|trans }} "{{ sellProposal.productSearch.product.name }} | {{ parent() }}{%
    endblock %}

{% block body %}

    <h1>{{ 'Edit my offer'|trans }} "{{ sellProposal.productSearch.product.name }}"</h1>

    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            {% if sellProposal.productSearch.product.filename %}
                <img src="{{ vich_uploader_asset(sellProposal.productSearch.product, 'imageFile') | imagine_filter('product_small_thumb')}}" class="card-img-top" alt="{{ sellProposal.productSearch.product.name }}">
            {% else %}
                <img src="{{ '/images/product-default-small.jpg' | imagine_filter('product_small_thumb')}}" alt="{{ sellProposal.productSearch.product.name }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ 'Product searched'|trans }} : {{ sellProposal.productSearch.product.name }}</h5>
                <div class="row mb-3">
                    <div class="col-md-5" title="{{ 'Quantity'|trans }}">
                        {% if  sellProposal.productSearch.quantityUnit.code in ['unit_gram', 'unit_kg'] %}
                            <i class="fas fa-balance-scale-left"></i>
                        {% else %}
                            <i class="fas fa-boxes"></i>
                        {% endif %}
                        {{ sellProposal.productSearch.quantity }} {{ sellProposal.productSearch.quantityUnit.name|trans }}
                    </div>
                    <div class="col-md-7 title="{{ 'Deadline'|trans }}">
                    <i class="fas fa-clock"></i> {{ sellProposal.productSearch.deadLine|format_datetime() }}
                </div>
            </div>
            {% if sellProposal.productSearch.clarifications %}
                <p class="card-text">{{ sellProposal.productSearch.clarifications }}</p>
            {% else %}
                <p class="text-secondary">{{ 'No clarification'|trans }}</p>
            {% endif %}
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5 class="card-title">{{ 'My offer'|trans }}</h5>
        </div>
        <div class="card-body">
            {{ include('sellProposal/_form.html.twig', {form: form, 'buttonValue': 'Edit my offer'}) }}
        </div>
    </div>

{% endblock %}