{% extends 'base.html.twig' %}

{% block title %}{{ 'My Proposals sent'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-handshake"></i> {{ 'My Proposals sent'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Product'|trans }}</th>
            <th scope="col">{{ 'Buyer'|trans }}</th>
            <th scope="col">{{ 'Unit price'|trans }}</th>
            <th scope="col">{{ 'Quantity'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Activated'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}
            <tr>
                <th scope="row">{{ proposal.id }}</th>
                <td>{{ proposal.productSearch.product.name }}</td>
                <td>{{ proposal.productSearch.merchant.businessName }}</td>
                <td>{{ proposal.unitPrice }}</td>
                <td>{{ proposal.qtyAvailable }}</td>
                <td class="text-center mdIcon">
                    {% if proposal.published %}
                        <a href="{{ path('disable_proposal', { 'sellProposal': proposal.id }) }}" title="{{ 'Disable my offer'|trans }}">
                            <i class="fas fa-check text-success"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('enable_proposal', { 'sellProposal': proposal.id }) }}" title="{{ 'Enable my offer'|trans }}">
                            <i class="fas fa-times text-danger"></i>
                        </a>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{{ path('sell_proposal_edit', { 'sellProposal': proposal.id }) }}" class="btn btn-primary">{{ 'Edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(proposals) }}
    </div>

{% endblock %}
