{% extends 'base.html.twig' %}

{% block title %}{{ 'Make an offer'|trans }} "{{ productSearched.product.name }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Make an offer'|trans }} "{{ productSearched.product.name }}"</h1>

<div class="card-deck">
    <div class="card" style="width: 18rem;">
        {% if productSearched.product.filename %}
            <img src="{{ vich_uploader_asset(productSearched.product, 'imageFile') | imagine_filter('product_medium_thumb')}}" alt="{{ productSearched.product.name }}">
        {% else %}
            <img src="{{ '/images/product-default-small.jpg' | imagine_filter('product_small_thumb')}}" alt="{{ productSearched.product.name }}">
        {% endif %}
        {#<img src="https://picsum.photos/500/300" class="card-img-top" alt="{{ productSearched.product.name }}"> TODO changer photo #}
        <div class="card-body">
            <h5 class="card-title">{{ 'Product searched'|trans }} : {{ productSearched.product.name }}</h5>
            <div class="row mb-3">
                <div class="col-md-5" title="{{ 'Quantity'|trans }}">
                    {% if  productSearched.quantityUnit.code in ['unit_gram', 'unit_kg'] %}
                        <i class="fas fa-balance-scale-left"></i>
                    {% else %}
                        <i class="fas fa-boxes"></i>
                    {% endif %}
                    {{ productSearched.quantity }} {{ productSearched.quantityUnit.name|trans }}
                </div>
                <div class="col-md-7 title="{{ 'Deadline'|trans }}">
                    <i class="fas fa-clock"></i> {{ productSearched.deadLine|format_datetime() }}
                </div>
            </div>
            {% if productSearched.clarifications %}
                <p class="card-text">{{ productSearched.clarifications }}</p>
            {% else %}
                <p class="text-secondary">{{ 'No clarification'|trans }}</p>
            {% endif %}
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5 class="card-title">{{ 'My offer'|trans }}</h5>
        </div>
        <div class="card-body">
            {{ include('sellProposal/_form.html.twig', {form: form, 'buttonValue': 'Send my offer'}) }}
        </div>
    </div>
</div>

{% endblock %}