{% extends 'base.html.twig' %}

{% block title %}{{ 'Proposals received'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-car-side"></i> {{ 'Proposals received'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Search'|trans }}</th>
            <th scope="col">{{ 'Vendor'|trans }}</th>
            <th scope="col">{{ 'Buyer'|trans }}</th>
            <th scope="col">{{ 'Unit price'|trans }}</th>
            <th scope="col">{{ 'Quantity'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Activated'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for proposal in proposals %}
            <tr>
                <th scope="row">{{ proposal.id }}</th>
                <td>{{ proposal.productSearch.product.name }}</td>
                <td>{{ proposal.seller.businessName }}</td>
                <td>{{ proposal.productSearch.merchant.businessName }}</td>
                <td>{{ proposal.unitPrice }}</td>
                <td>{{ proposal.qtyAvailable }}</td>
                <td class="text-center mdIcon">{% if proposal.published %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                <td class="text-center"><a class="btn btn-info" href="#">{{ 'Start the search for a transporter'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(proposals) }}
    </div>

{% endblock %}