{% extends 'base.html.twig' %}

{% block title %}{{ sellProposal.productSearch.product.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ sellProposal.productSearch.product.name }}</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% if transport_accepted %}
        {# If user is seller #}
        {% if sellProposal.seller.user == current_user %}
            {% for transport_proposal in transport_proposals %}
                {% if transport_proposal.buyerAgreement == true %}
                    {% if transport_proposal.inDelivering == null %}
                        <div class="alert alert-success">
                            {{ 'The transporter %transporterName% will collect the object on %recoveryDate%.'|trans({'%transporterName%': transport_proposal.transporter.user.fullName, '%recoveryDate%': transport_proposal.recoveryTime|format_datetime('long')}) }}
                            <div class="text-right">
                                <a href="{{ path('transport_proposal_in_delivering', {id: transport_proposal.id}) }}" class="btn btn-outline-success">{{ 'Object collected by the carrier'|trans }}</a>
                            </div>
                        </div>
                    {% else %}
                        {% if transport_proposal.delivered == null %}
                            <div class="alert alert-success">
                                {{ 'Transport in progress'|trans }}...
                            </div>
                        {% else  %}
                            <div class="alert alert-success">
                                {{ 'The object has been returned to %buyerName%'|trans({'%buyerName%': sellProposal.productSearch.merchant.businessName}) }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {# If user is buyer #}
        {% if sellProposal.productSearch.merchant.user == current_user %}
            {% for transport_proposal in transport_proposals %}
                {% if transport_proposal.buyerAgreement == true %}
                    {% if transport_proposal.inDelivering == null %}
                        <div class="alert alert-success">
                            {{ 'The transporter %transporterName% will deliver to you on on %deliveryDate%.'|trans ({'%transporterName%': transport_proposal.transporter.user.fullName, '%deliveryDate%':  transport_proposal.deliveryTime|format_datetime('long')}) }}
                            <div class="text-right">
                                <a href="{{ path('transport_proposal_delivered', {id: transport_proposal.id}) }}"
                                   class="btn btn-outline-success">{{ 'Object delivered by the carrier'|trans }}</a>
                            </div>
                        </div>
                    {% else %}
                        {% if transport_proposal.delivered == null %}
                            <div class="alert alert-success">
                                {{ 'Team %sellerName% has indicated that the transport is in progress'|trans({'%sellerName%': sellProposal.seller.businessName}) }}
                                <div class="text-right">
                                    <a href="{{ path('transport_proposal_delivered', {id: transport_proposal.id}) }}" class="btn btn-outline-success">{{ 'Object delivered by the carrier'|trans }}</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-success">
                                {{ 'You have been delivered'|trans }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

    <div>
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                {% if sellProposal.productSearch.product.filename %}
                    <img src="{{ vich_uploader_asset(sellProposal.productSearch.product, 'imageFile') | imagine_filter('product_medium_thumb')}}" alt="{{ sellProposal.productSearch.product.name }}">
                {% else %}
                    <img src="{{ '/images/product-default-small.jpg' | imagine_filter('product_small_thumb')}}" alt="{{ sellProposal.productSearch.product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ 'Product searched'|trans }} : {{ sellProposal.productSearch.product.name }}</h5>
                    <div class="row mb-3">
                        <div class="col-md-5" title="{{ 'Quantity'|trans }}">
                            {% if  sellProposal.productSearch.quantityUnit.code in ['unit_gram', 'unit_kg'] %}
                                <i class="fas fa-balance-scale-left"></i>
                            {% else %}
                                <i class="fas fa-boxes"></i>
                            {% endif %}
                            {{ sellProposal.productSearch.quantity }} {{ sellProposal.productSearch.quantityUnit.name|trans }}
                        </div>
                        <div class="col-md-7" title="{{ 'Deadline'|trans }}">
                            <i class="fas fa-clock"></i> {{ sellProposal.productSearch.deadLine|format_datetime() }}
                        </div>
                    </div>
                    {% if sellProposal.productSearch.clarifications %}
                        <p class="card-text">{{ sellProposal.productSearch.clarifications }}</p>
                    {% else %}
                        <p class="text-secondary">{{ 'No clarification'|trans }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                    <h5 class="card-title">{{ 'Offer received'|trans }}</h5>
                </div>
                <div class="card-body">
                    {% if transport_accepted %} <small class="text-success"><i class="fas fa-check"></i> {{ "Offer already accepted"|trans }}</small>{% endif %}
                    <h5 class="card-title">{{ 'Send by'|trans }} {{ sellProposal.seller.businessName }}</h5>
                    <p class="card-text">{{ 'Unit price'|trans }} : {{ sellProposal.unitPrice }}€</p>
                    <p class="card-text">{{ 'Qty available'|trans }} : {{ sellProposal.qtyAvailable }} {{ sellProposal.quantityUnit.name|trans }}</p>
                    {% set total = sellProposal.unitPrice * sellProposal.qtyAvailable %}
                    <p class="card-text">{{ 'Total price'|trans }} : {{ total }} €</p>
                </div>
                <div class="card-footer text-center">
                    <a
                            href="{{ path('transport_search_add', {'proposition': sellProposal.id}) }}"
                            class="btn{% if search_transporter_send %} btn-secondary disabled{% else %} btn-success{% endif %}"
                    >
                        {% if search_transporter_send %}{{ "You have already launched the carrier search"|trans }}{% else %}{{ 'Start a carrier search'|trans }}{% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% if search_transporter_send %}
        <div class="mt-4">
            <h3>{{ 'Transport proposal received'|trans }}</h3>

            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ 'Transporter Name'|trans }}</th>
                        <th scope="col">{{ 'Recovery time'|trans }}</th>
                        <th scope="col">{{ 'Delivery time'|trans }}</th>
                        <th scope="col">{{ 'To accept'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transport_proposal in transport_proposals %}
                    <tr>
                        <th scope="row">
                            {{ transport_proposal.id }}
                        </th>
                        <td>
                            {{ transport_proposal.transporter.user.fullName }}
                        </td>
                        <td>
                            {{ transport_proposal.recoveryTime|format_datetime }}
                        </td>
                        <td>
                            {{ transport_proposal.deliveryTime|format_datetime }}
                        </td>
                        <td class="text-center mdIcon">
                            {% if transport_accepted %}
                                {% if transport_accepted == transport_proposal %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            {% else %}
                                <button title="{{ "Accept this transport and close research"|trans }}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmAgree">
                                    <i class="fas fa-user-check"></i>
                                </button>
                            {% endif %}

                        </td>

                        <!-- Modal -->
                        <div class="modal fade" id="confirmAgree" tabindex="-1" aria-labelledby="confirmAgreeLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ "Confirmation"|trans }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ "Accepting this transport will complete the search process. The merchant who made you the offer and the carrier will be informed of your choice and will be invited to send you the product. Would you like to accept the offer and the transport?"|trans|raw }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "Cancel"|trans }}</button>
                                        <a class="btn btn-success" href="{{ path('agree_transport_proposal', {transportProposal:transport_proposal.id}) }}" title="{{ "Accept this transport and close research"|trans }}">{{ "Accept this transport and close research"|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if transport_proposals is empty %}
            <div>{{ "No transport proposal for the moment ..."|trans }}</div>
            {% endif %}
    {% endif %}

{% endblock %}

