{{ 'Hello'|trans({}, 'mails') }}

{{ 'Your transport proposal has been accepted, please recover the product "%product_searched%" from "%seller%" (%seller_address%) and transport it to "%buyer%" (%buyer_address%).'|trans({'%product_searched%':context_product_searched,'%seller%':context_seller,'%seller_address%':context_seller_address,'%buyer%':context_buyer,'%buyer_address%':context_seller_address }, 'mails') }}

{{ 'To view this research, copy/paste the following link into your browser.'|trans({}, 'mails') }}:

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}

{{ 'If you no longer wish to receive an email of this type, please change your account preferences by following this link'|trans({}, 'mails') }}: {{ absolute_url(path('my_account_edit')) }}