{% extends 'emails/baseMail.html.twig' %}

{% block body %}

    <p>{{ 'Hello'|trans({}, 'mails') }}</p>

    <p>{{ 'Your transport proposal has been accepted, please recover the product "%product_searched%" from "%seller%" (%seller_address%) and transport it to "%buyer%" (%buyer_address%).'|trans({'%product_searched%':context_product_searched,'%seller%':context_seller,'%seller_address%':context_seller_address,'%buyer%':context_buyer,'%buyer_address%':context_seller_address }, 'mails') }}</p>

    <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Consult research'|trans({}, 'mails')
            }}</a></p>

    <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}