{{ 'Hello'|trans({}, 'mails') }}

{{ 'The merchant looking for the product "%productSearched%" has accepted your offer. The transporter %transporter_name% will pick up theobject on %recovery_date%.'|trans({'%productSearched%':context_product_searched, '%transporter_name%':context_transporter_name, '%recovery_date%':context_recovery_date|format_datetime('long')}, 'mails') }}

{{ 'To view this research, copy/paste the following link into your browser.'|trans({}, 'mails') }}:

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}

{{ 'If you no longer wish to receive an email of this type, please change your account preferences by following this link'|trans({}, 'mails') }}: {{ absolute_url(path('my_account_edit')) }}