{% extends 'emails/baseMail.html.twig' %}

{% block body %}

    <p>{{ 'Hello'|trans({}, 'mails') }}</p>

    <p>{{ 'The merchant looking for the product "%productSearched%" has accepted your offer. The transporter %transporter_name% will pick up theobject on %recovery_date%.'|trans
            ({'%productSearched%':context_product_searched, '%transporter_name%':context_transporter_name, '%recovery_date%':context_recovery_date|format_datetime('long')}, 'mails') }}</p>

    <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Consult research'|trans({}, 'mails')
            }}</a></p>

    <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}