{{ 'Hello'|trans({}, 'mails') }}

{{ 'The product "%productSearched%" has been delivered.'|trans({'%productSearched%':context_product_searched}, 'mails') }}

{{ 'To view this offer, copy/paste the following link into your browser.'|trans({}, 'mails') }}:

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}

{{ 'If you no longer wish to receive an email of this type, please change your account preferences by following this link'|trans({}, 'mails') }}: {{ absolute_url(path('my_account_edit')) }}