{% extends 'emails/baseMail.html.twig' %}

{% block body %}

    <p>{{ 'Hello'|trans({}, 'mails') }}</p>

    <p>{{ 'The product "%productSearched%" you requested has been collected by the person transporting it.'|trans
            ({'%productSearched%':context_product_searched}, 'mails') }}</p>

    <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Consult research'|trans({}, 'mails')
            }}</a></p>

    <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}