{{ form_start(form) }}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12">
                {{ form_row(form.product.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.product.ref) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.product.category) }}
            </div>
        </div>
        <div class="row">
            <div id="imageFile" class="col{% if productSearch.product is not null %}{% if productSearch.product.filename %} d-none{% else %} col-6{% endif %}{% endif %}">
                {{ form_row(form.product.imageFile) }}
            </div>
        </div>
        <div class="row">
            <div id="messageImage" class="col">
                {% if productSearch.product is not null %}
                    {% if productSearch.product.filename %}
                            <img src="{{ vich_uploader_asset(productSearch.product, 'imageFile') | imagine_filter('form_thumb')}}" class="mr-2" alt="{{ productSearch.product.filename }}" title="{{ productSearch.product.filename }}">
                            <a href="{{ path('product_delete_image', {'id': productSearch.product.id }) }}" data-delete
                               data-token="{{ csrf_token(productSearch.product.id) }}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                    {% else %}
                            {{ 'No image...'|trans }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{ form_row(form.published) }}
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(form.merchant) }}
        {% endif %}

        {{ form_errors(form.quantity) }}
        {{ form_errors(form.quantityUnit) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_label(form.quantity) }}
                <div class="input-group mb-3 number-spinner">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" data-dir="dwn">-</button>
                    </div>
                    {{ form_widget(form.quantity) }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-dir="up">+</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_label(form.quantityUnit) }}
                {{ form_widget(form.quantityUnit) }}
            </div>
        </div>
        {{ form_label(form.deadLine) }}
        {{ form_errors(form.deadLine) }}
        <div class="input-group">
            {{ form_widget(form.deadLine) }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fa fa-calendar"> </span>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                {{ form_row(form.transporterGift) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.clarifications) }}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ form_rest(form) }}
                {% else %}
                    {{ form_widget(form._token) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<button class="btn btn-primary mt-3">{{ buttonValue|trans }}</button>

{% if is_granted('ROLE_ADMIN') %}
    {{ form_end(form) }}
{% else %}
    {{ form_end(form, {'render_rest': false}) }}
{% endif %}