{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ 'Edit the search'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Edit the search'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('productSearch/_form.html.twig', {form: form, 'buttonValue': 'Edit the search'}) }}

{% endblock %}