{% extends 'base.html.twig' %}

{% block title %}{{ 'Sought products'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-search"></i> {{ 'My research'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Product'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Quantity'|trans }}</th>
            <th scope="col" class="text-center"><i class="fas fa-clock" title="{{ 'Before'|trans }}"></i></th>
            <th scope="col" class="text-center"><i class="fas fa-gift" title="{{ 'Gift'|trans }}"></i></th>
            <th scope="col">{{ 'See sell proposals'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Activated'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for search in searches %}
            <tr>
                <th scope="row">{{ search.id }}</th>
                <td>{{ search.product.name }}<br><small>{{ 'Ref'|trans }} #{{ search.product.ref }}</small></td>
                <td>{{ search.quantity }}</td>
                <td>{{ search.deadLine|format_datetime() }}</td>
                <td>{{ search.transporterGift }}</td>
                <td>
                    {% for sell_proposal in search_sell_proposals %}
                        {% if sell_proposal.productSearch == search %}
                            {% set somme = sell_proposal.unitPrice * sell_proposal.qtyAvailable %}
                            <p>
                                <a
                                        {% if sell_proposal in sell_proposal_search_transporter_already_sent %}
                                            {% if sell_proposal not in sell_proposal_of_transport_searches_closed %}
                                                title="{{ "Carrier search in progress"|trans }}"
                                            {% else %}
                                                title="{{ "Offer already accepted"|trans }}"
                                            {% endif %}
                                        {% endif %}
                                        class="btn {% if sell_proposal in sell_proposal_search_transporter_already_sent %}btn{% if sell_proposal not in sell_proposal_of_transport_searches_closed %}-outline{% endif %}-success{% else %}btn-outline-info{% endif %}"
                                        href="{{ path('show_proposal', {'sellProposal':sell_proposal.id }) }}"
                                >
                                    {{ sell_proposal.unitPrice }}€ * {{ sell_proposal.qtyAvailable }} {{ sell_proposal.quantityUnit.name|trans }} = {{ somme }}€
                                    {% if sell_proposal in sell_proposal_search_transporter_already_sent %}
                                        {% if sell_proposal not in sell_proposal_of_transport_searches_closed %}
                                            <i class="fas fa-car-side"></i>
                                        {% else %}
                                            <i class="fas fa-handshake"></i>
                                        {% endif %}
                                    {% endif %}
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="text-center mdIcon">
                    {% if search.published %}
                        {% if current_user == search.merchant.user %}
                            {% if search.getClosedDateTime %}
                                <i class="fas fa-lock text-secondary" title="{{ "Search closed"|trans }}"></i>
                            {% else %}
                                <a href="{{ path('product_search_edit', { 'productSearch': search.id }) }}" class="btn btn-info" title="{{ 'Edit'|trans}}"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('disable_search', { 'search': search.id }) }}" title="{{ 'Disable my offer'|trans }}">
                                    <i class="fas fa-check text-success"></i>
                                </a>
                            {% endif %}
                        {% else %}
                            <i class="fas fa-check text-success"></i>
                        {% endif %}
                    {% else %}
                        {% if current_user == search.merchant.user %}
                            <a href="{{ path('enable_search', { 'search': search.id }) }}" title="{{ 'Enable my offer'|trans }}">
                                <i class="fas fa-times text-danger"></i>
                            </a>
                        {% else %}
                            <i class="fas fa-times text-danger"></i>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(searches) }}
    </div>
    <a href="{{ path('product_search_add') }}" class="btn btn-dark">{{ 'Start a new product search'|trans }}</a>

{% endblock %}