{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ 'Search a product'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Search a product'|trans }}</h1>

    {{ include('productSearch/_form.html.twig', {form: form, 'buttonValue': 'Start a search'}) }}

{% endblock %}
