{% extends 'base.html.twig' %}

{% block body %}

    <h1><i class="fas fa-search"></i> {{ 'Search'|trans }} {{ product_search.product.name }}</h1>

    <div class="col-md-4 mt-3 mx-auto">
        <div class="card">
            {% if product_search.product.filename %}
                <img src="{{ vich_uploader_asset(product_search.product, 'imageFile') | imagine_filter('product_small_thumb')}}" alt="{{ product_search.product.name }}">
            {% else %}
                <img src="{{ '/images/product-default-small.jpg' | imagine_filter('product_small_thumb')}}" alt="{{ product_search.product.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product_search.quantity }} ({{ product_search.quantityUnit.name|trans }}) {{ product_search.product.name }}</h5>
                <p class="card-text">
                    <i class="fas fa-store"></i> <a href="{{ path('merchant_page', { 'businessId': product_search.merchant.id, 'slug': product_search.merchant.slugify }) }}">
                        {{ product_search.merchant.businessName }}
                    </a>
                </p>
                <p class="card-text">
                            <span  title="{{ 'City'|trans }}">
                                <i class="fas fa-map-marker-alt"></i> {{ product_search.merchant.city.name }}
                            </span>
                </p>
                <p class="card-text">
                            <span title="{{ 'Limite date'|trans }}">
                                <i class="fas fa-clock"></i> {{ product_search.deadLine|format_datetime() }}
                            </span>
                </p>
                <div class="text-center">
                    {% if current_user != product_search.merchant.user %}
                        {% if product_search.closedDateTime %}
                            <a class="btn btn-secondary disabled mb-3" href="#">
                                {{ 'Search completed'|trans }}
                            </a>
                        {% else %}
                            {% for sell_proposal in current_user_proposal_searches %}
                                <a href="{{ path('sell_proposal_edit', { 'sellProposal': sell_proposal.id })
                                }}" class="btn btn-success mb-3">
                                    {{ 'Edit sell proposal already sent'|trans }} ({{ sell_proposal.qtyAvailable }} x {{ sell_proposal.unitPrice }}€)
                                </a>
                            {% endfor %}
                            <a class="btn btn-info" href="{{ path('sell_proposal_add', { 'search': product_search.id }) }}">
                                {{ 'Send an offer'|trans }}
                            </a>
                        {% endif %}
                        {# TODO Ajouter l'affichage des proposition pour l'acheteur #}
                    {% endif %}
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('product_search_edit', { 'productSearch': product_search.id }) }}" class="btn btn-info" title="{{ 'Edit'|trans}}"><i class="fas fa-edit"></i></a>
                    <form method="post" action="{{ path('admin_product_search_delete', { 'id': product_search.id })
                    }}" class="d-inline" onsubmit="return confirm('{{ 'Do you really want to delete this search?'|trans }}')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('deleteSearch' ~ product_search.id)
                        }}">
                        <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
                    </form>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

