{% extends 'base.html.twig' %}

{% block title %}{{ 'Sought products'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-search"></i> {{ 'Sought products'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        {% for search in searches %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    {% if search.product.filename %}
                        <img src="{{ vich_uploader_asset(search.product, 'imageFile') | imagine_filter('product_small_thumb')}}" alt="{{ search.product.name }}">
                    {% else %}
                        <img src="{{ '/images/product-default-small.jpg' | imagine_filter('product_small_thumb')}}" alt="{{ search.product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <a href="{{ path('product_search_page', {'productSearchId': search.id}) }}">
                            <h5 class="card-title">{{ search.quantity }} ({{ search.quantityUnit.name|trans }}) {{ search.product.name }}</h5>
                        </a>
                        <p class="card-text">
                            <i class="fas fa-store"></i> <a href="{{ path('merchant_page', { 'businessId': search.merchant.id, 'slug': search.merchant.slugify }) }}">
                                {{ search.merchant.businessName }}
                            </a>
                        </p>
                        <p class="card-text">
                            <span  title="{{ 'City'|trans }}">
                                <i class="fas fa-map-marker-alt"></i> {{ search.merchant.city.name }}
                            </span>
                        </p>
                        <p class="card-text">
                            <span title="{{ 'Limite date'|trans }}">
                                <i class="fas fa-clock"></i> {{ search.deadLine|format_datetime() }}
                            </span>
                        </p>
                        {% if current_user != search.merchant.user %}
                            {% if search.closedDateTime %}
                                <a class="btn btn-secondary disabled" href="#">
                                    {{ 'Search completed'|trans }}
                                </a>
                            {% else %}
                                {% if search in current_user_proposal_searches %}
                                    {% for current_user_proposal in current_user_proposals %}
                                        {% if current_user_proposal.productSearch == search %}
                                            <a href="{{ path('sell_proposal_edit', { 'sellProposal': current_user_proposal.id }) }}" class="btn btn-success">
                                                {{ 'Edit sell proposal already sent'|trans }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <a class="btn btn-info" href="{{ path('sell_proposal_add', { 'search': search.id }) }}">
                                        {{ 'Send an offer'|trans }}
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('product_search_edit', { 'productSearch': search.id }) }}" class="btn btn-info" title="{{ 'Edit'|trans}}"><i class="fas fa-edit"></i></a>
                            <form method="post" action="{{ path('admin_product_search_delete', { 'id': search.id })
                            }}" class="d-inline" onsubmit="return confirm('{{ 'Do you really want to delete this search?'|trans }}')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('deleteSearch' ~ search.id)
                                }}">
                                <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(searches) }}
    </div>
    <a href="{{ path('product_search_add') }}" class="btn btn-dark">{{ 'Start a new product search'|trans }}</a>

{% endblock %}