body {
  background-color: #343a40;
}
img {
  max-width:100%;
}
h1 .badge {
  font-size: 0.3em;
  padding: 5px;
}
footer a {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
}
footer a:hover {
  color: #36A9E1;
  text-decoration: none;
}
.principal {
  background-color: #fff;
  display: inline-block;
  width: 100%;
}
.table td, .table th {
  vertical-align: middle;
}
.mdIcon {
  font-size: 2em;
}
.card-body {
  color: #343a40;
}
.bg-gradient-perso {
  background-color: #343a40;
  background-image: linear-gradient(180deg,#343a40 10%,#1f2326 100%);
  background-size: cover;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
#userDropdown .fa-user-circle {
  font-size: 2em;
}
// Hide input number arrows
#product_search_quantity, #sell_proposal_qtyAvailable {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
#transporter_citiesServed .form-check {
  display: inline-block !important;
  margin: 5px 0;
}
#transporter_citiesServed .form-check input{
  visibility: hidden;
  position: absolute;
}
#wrapper #content-wrapper.bg-dark-perso {
  background-color: #343a40;
}
.notifications a:hover,
.noUnderline:hover{
  text-decoration: none;
}
.notifications a:hover .border-left-warning,
.notifications a:hover .border-left-primary,
.notifications a:hover .border-left-info,
.notifications a:hover .border-left-success,
.notifications a:hover .border-left-secondary {
  border-left-width: 1rem !important;
}
.notifications .border-left-warning,
.notifications .border-left-primary,
.notifications .border-left-info,
.notifications .border-left-success,
.notifications .border-left-secondary {
  transition: border-left-width 0.2s;
}
.firsts-notifications .bg-secondary {
  background-color: #d3d4d8 !important;
}
.notifications .border-left-secondary {
  border-left-color: #d3d4d8 !important;
}
.road > div {
  display: inline-block;
}
.transportSearch .road .fa-circle{
  font-size: 0.5em;
}
.transportSearch .road .fa-chevron-right{
  font-size: 2em;
}
.roadDotsCar{
  display: inline-block;
  vertical-align: text-top;
  margin-top: -9px;
}
.roadChevron{
  display: inline-block;
}
.custom-file-label::after {
  content: "Parcourir";
}
#messageImage img {
  border-radius: 7px;
  border: 1px solid #c1c1c1;
  padding: 2px;
}