{{ 'Hello'|trans({}, 'mails') }}

{{ 'A person is wanted to transport an item between two cities you are passing through.'|trans({'%sell_proposal%':context_sell_proposal}, 'mails') }}

{{ 'To view this research, copy/paste the following link into your browser.'|trans({}, 'mails') }}:

{{ context_link }}

{{ 'Thank you'|trans({}, 'mails') }}

{{ 'If you no longer wish to receive an email of this type, please change your account preferences by following this link'|trans({}, 'mails') }}: {{ absolute_url(path('my_account_edit')) }}