{% extends 'emails/baseMail.html.twig' %}

{% block body %}

    <p>{{ 'Hello'|trans({}, 'mails') }}</p>

    <p>{{ 'A person is wanted to transport an item between two cities you are passing through.'|trans({'%sell_proposal%':context_sell_proposal}, 'mails') }}</p>

    <p class="text-right"><a href="{{ context_link }}" class="button">{{ 'Consult research'|trans({}, 'mails') }}</a></p>

    <p>{{ 'Thank you'|trans({}, 'mails') }}</p>

{% endblock %}