{{ form_start(form) }}

<div class="row">
    <div class="col-md-10">
        {{ form_row(form.businessName) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.published) }}
    </div>
</div>


{% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.user) }}
{% endif %}


<div class="row">
    <div class="col-md-6">
        {{ form_row(form.address) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.city) }}
    </div>
</div>

<div class="row">
    <div id="imageFile" class="col{% if merchant is not null %}{% if merchant.filename %} d-none{% else %} col-6{% endif %}{% endif %}">
        {{ form_row(form.imageFile) }}
    </div>
</div>
<div class="row">
    <div id="messageImage" class="col">
        {% if merchant is not null %}
            {% if merchant.filename %}
                <img src="{{ vich_uploader_asset(merchant, 'imageFile') | imagine_filter('form_thumb')}}" class="mr-2" alt="{{ merchant.filename }}" title="{{ merchant.filename }}">
                <a href="{{ path('merchant_delete_image', {'id': merchant.id }) }}" data-delete data-token="{{ csrf_token(merchant.id) }}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            {% else %}
                {{ 'No merchant image...'|trans }}
            {% endif %}
        {% endif %}
    </div>
</div>

{{ form_rest(form) }}

<button class="btn btn-primary">{{ buttonValue|trans }}</button>

{{ form_end(form) }}