{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit merchant'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Edit merchant'|trans }}</h1>

    {{ include('merchant/_form.html.twig', {form: form, 'buttonValue': 'Edit'}) }}

{% endblock %}