{% extends 'base.html.twig' %}

{% block title %}{{ 'Sellers'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1><i class="fas fa-store"></i> {{ 'Sellers'|trans }}</h1>

    <div class="row">
        {% for merchant in merchants %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    {% if merchant.filename %}
                        <img src="{{ vich_uploader_asset(merchant, 'imageFile') | imagine_filter
                            ('merchant_small_thumb')}}" alt="{{ merchant.businessName }}">
                    {% else %}
                        <img src="{{ '/images/merchant-default-small.jpg' | imagine_filter('merchant_small_thumb')}}" alt="{{ merchant.businessName }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ merchant.businessName }}
                            {% if is_granted('ROLE_ADMIN') %}
                                 <small>({{ merchant.user }})</small>
                                {% if merchant.published %}
                                    <i class="fas fa-check text-success"></i>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            {% endif %}
                        </h5>

                        <p class="card-text">
                            <span  title="{{ 'City'|trans }}">
                                <i class="fas fa-map-marker-alt"></i> {{ merchant.address }} {{ merchant.city.postalCode }} {{ merchant.city.name }}
                            </span>
                        </p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('merchant_edit', { 'merchant': merchant.id }) }}" class="btn btn-info" title="{{ 'Edit'|trans}}"><i class="fas fa-edit"></i></a>
                            <form method="post" action="{{ path('admin_merchant_delete', { 'id': merchant.id }) }}"
                                  class="d-inline" onsubmit="return confirm('{{ 'Do you really want to delete this search?'|trans }}')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('deleteMerchant' ~ merchant.id) }}">
                                <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(merchants) }}
    </div>

{% endblock %}