{% extends 'base.html.twig' %}

{% block title %}{{ 'Create a merchant'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Create a merchant'|trans }}</h1>

    {{ include('merchant/_form.html.twig', {form: form, 'buttonValue': 'Create'}) }}

{% endblock %}