{% extends 'base.html.twig' %}

{% block title %}{{ merchant.businessName }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1 class="mb-4"><i class="fas fa-store"></i> {{ merchant.businessName }}

    {% if merchant.published %}
        <span class="badge badge-success">
            {{ 'published'|trans }}
        </span>
    {% else %}
        <span class="badge badge-warning">
            {{ 'unpublished'|trans }}
        </span>
    {% endif %}
    </h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% if merchant.filename %}
            <img src="{{ vich_uploader_asset(merchant, 'imageFile') | imagine_filter('merchant_medium_thumb')}}" alt="{{ merchant.city.name }}">
        {% else %}
            <img src="{{ '/images/merchant-default-medium.jpg' | imagine_filter('merchant_medium_thumb')}}" alt="{{ merchant.city.name }}">
        {% endif %}
    </div>
    <p>
        <strong>{{ 'City'|trans }} :</strong> {{ merchant.city.name }}
    </p>
    <p>
        <strong>{{ 'Address'|trans }} :</strong> {{ merchant.address }}
    </p>
    <p>
        <strong>{{ 'CategoryFollowed'|trans }} :</strong> {% for category in merchant.categoriesFollowed %} {{
        category.name }} - {% endfor
        %}
    </p>
    <a class="btn btn-primary" href="{{ path('merchant_edit', { 'merchant': merchant.id }) }}">{{ 'Edit'|trans }}</a>

{% endblock %}