{{ form_start(form) }}

<div class="row" id="datesFields">
        <div class="col-md-6">{{ form_row(form.recoveryTime) }}</div>
        <div class="col-md-6">{{ form_row(form.deliveryTime) }}</div>
</div>

        {% if is_granted('ROLE_ADMIN') %}
                {{ form_row(form.user) }}
                {{ form_row(form.published) }}
        {% endif %}

        {{ form_widget(form) }}

        <button id="btnSend" class="btn btn-primary" disabled>{{ 'Send the proposal'|trans }}</button>

{{ form_end(form) }}