{% extends 'base.html.twig' %}

{% block title %}{{ 'My transport proposals'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-dolly"></i> {{ 'My transport proposals'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Pick up'|trans }}</th>
            <th scope="col">{{ 'Delivery'|trans }}</th>
            <th scope="col">{{ 'Gift'|trans }}</th>
            <th scope="col">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for transport in myTransportProposals %}
            <tr>
                <th scope="row">{{ transport.id }}</th>
                <td>
                    {{ transport.recoveryTime|format_datetime }}
                    <br>
                    {{ transport.sellProposal.productSearch.merchant.BusinessName }}
                    <br>
                    {{ transport.sellProposal.productSearch.merchant.Address }}
                    <br>
                    {{ transport.sellProposal.productSearch.merchant.city.postalCode }}
                    {{ transport.sellProposal.productSearch.merchant.city.name }}
                </td>
                <td>
                    {{ transport.deliveryTime|format_datetime }}
                    <br>
                    {{ transport.sellProposal.seller.businessName }}
                    <br>
                    {{ transport.sellProposal.seller.address }}
                    <br>
                    {{ transport.sellProposal.seller.city.postalCode }}
                    {{ transport.sellProposal.seller.city.name }}
                </td>
                <td>
                    {{ transport.sellProposal.productSearch.transporterGift }}
                </td>
                <td>
                    {% if transport.published == 0 %}
                        <a class="btn btn-success" href="{{ path('enable_transport_proposal', {'transportProposal': transport.id }) }}">
                            {{ 'I want to do this transport'|trans }}
                        </a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ path('disable_transport_proposal', {'transportProposal': transport.id }) }}">
                            {{ 'I do not want to do this transport'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}