{% extends 'base.html.twig' %}

{% block title %}{{ 'Transport proposal'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Transport proposal'|trans }}</h1>

    <div class="transportSearch row p-3">
        <div class="col-12 mb-3 road border border-secondary bg-white text-center">
            <div class="col-md-4 p-3">
                <div class="h4">
                    {{ transport_search.sellProposal.seller.city.name }}
                </div>
                <div>
                    {{ transport_search.sellProposal.seller.businessName }}
                    <br>
                    {{ transport_search.sellProposal.seller.address }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="roadDotsCar">
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-car-side"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                </div>
                <div class="roadChevron"></div>
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="col-md-4 ">
                <div class="h4">
                    {{ transport_search.sellProposal.productSearch.merchant.city.name }}
                </div>
                <div>
                    {{ transport_search.sellProposal.productSearch.merchant.businessName }}
                    <br>
                    {{ transport_search.sellProposal.productSearch.merchant.address }}
                </div>
            </div>
            <div class="col-12 text-center mb-1">
                {{ 'Limite date'|trans }} : {{ transport_search.sellProposal.productSearch.deadLine|format_datetime('long', locale='fr') }}
            </div>
        </div>
    </div>

    {{ include('transportProposal/_form.html.twig', {form: form, button: 'Envoyer la proposition'}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // https://xdsoft.net/jqplugins/datetimepicker/
        jQuery.datetimepicker.setLocale('fr');
        jQuery('#transport_proposal_recoveryTime').datetimepicker({
            defaultDate:new Date(),
            minDate: 0,
            step:30,
            format: 'd-m-Y H:i'
        });
        jQuery('#transport_proposal_deliveryTime').datetimepicker({
            defaultDate:new Date(),
            minDate: 0,
            step:30,
            format: 'd-m-Y H:i'
        });
    </script>
    <script>
        const recoveryTime = document.getElementById('transport_proposal_recoveryTime');
        const deliveryTime = document.getElementById('transport_proposal_deliveryTime');
        const btnSend = document.getElementById('btnSend');
        const alertMessageLmt = document.createElement('div');

        recoveryTime.addEventListener('blur', showAlertMessage);
        deliveryTime.addEventListener('blur', showAlertMessage);

        function showAlertMessage() {
            if(recoveryTime.value !== '' && deliveryTime.value !== '')
            {
                if(recoveryTime.value >= deliveryTime.value){
                    alertMessageLmt.id = 'datesAlertMessage';
                    alertMessageLmt.className = 'p-3 mb-2 bg-danger text-white';
                    alertMessageLmt.textContent = 'Attention ! La date de livraison ne peut pas précèder la date de retrait';
                    document.getElementById('datesFields').appendChild(alertMessageLmt);
                    btnSend.disabled = 'disabled';
                } else if (recoveryTime.value < deliveryTime.value) {
                    alertMessageLmt.className = 'd-none';
                    btnSend.disabled = '';
                }
            }
        }
    </script>
{% endblock %}