{% extends 'base.html.twig' %}

{% block title %}{{ 'Transport proposals'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-dolly"></i> {{ 'Transport proposals'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Product'|trans }}</th>
            <th scope="col">{{ 'Quantity'|trans }}</th>
            <th scope="col">{{ 'Before'|trans }}</th>
            <th scope="col">{{ 'Place of withdrawal'|trans }}</th>
            <th scope="col">{{ 'Place of delivery'|trans }}</th>
            <th scope="col">{{ 'Gift'|trans }}</th>
            <th scope="col">{{ 'Reply'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for transport in transportProposals %}
            <tr>
                <th scope="row">{{ transport.id }}</th>
                <td>#search.productName# ( ref : #search.ref3 )</td>
                <td>#sellProposal.qtyAvailable#</td>
                <td>#search.deadLine|format_datetime()#</td>
                <td>#search.merchantid.BusinessName# #merchantId.Address# #merchantId.City#</td>
                <td>#SellProposal.SellerID.BusinessName# #SellProposal.SellerID.Address# #SellProposal.SellerID.City#</td>
                <td>#search.transporterGift#</td>
                {# <td><a class="btn btn-info" href="{{ path('transport_proposal_add', { 'sellproposal-id': search.id
                 }) }}">{{ 'I can do this transport'|trans }}</a></td> #}
                <td><a class="btn btn-info" href="#">{{ 'I can do this transport'|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}