{% apply inline_css %}
    <style>
        html{
            background-color: #343a40;
        }
        .backgroundBody{
            background-color: #343a40;
            color:#fff;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            padding-top:10px;
        }
        .container {
            max-width:500px;
            background-color: #fff;
            margin: auto;
            color: #343a40;
        }
        .text-center{
            text-align: center;
        }
        .container > div {
            padding: 10px;
        }
        .header{
            box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
            background-color: #fff;
            margin-bottom: 1.5rem;
        }
        .content{
            text-align: justify;
        }
        .legals{
            padding:10px;
            font-size: 0.7em;
        }
        .legals a:visited, .legals a{
            color: #82a4a7;
        }
        .legals a:hover{
            color: #519499;
        }
        .button{
            color: #fff;
            background-color: #36b9cc;
            padding: .375rem .75rem;
            border: 1px solid transparent;
            border-radius: .35rem;
            text-decoration: none;
            transition: background-color .15s ease-in-out;
        }
        .button:hover {
            background-color: #2c9faf;
            border-color: #2a96a5;
        }
        .text-right {
            text-align:right;
        }

    </style>

    <div class="backgroundBody">
        <div class="container">
            <div class="header">
                <img src="{{ email.image('@images/titre-sombre-200x44.png') }}" title="Mycelium" alt="Logo Mycelium">
            </div>
            <div class="content">

    {% block body %}{% endblock %}
            </div>
        </div>

        <div class="legals text-center">
            {{ 'If you no longer wish to receive an email of this type, please change your account preferences by following this link'|trans({}, 'mails') }}:
            <a href="{{ absolute_url(path('my_account_edit')) }}">{{ 'Change my preferences'|trans({}, 'mails') }}</a>

        </div>
    </div>


{% endapply %}
