<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}" />
    <title>{% block title %}{{ 'Mycelium project'|trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('global') }}
    {% endblock %}
</head>
<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-perso sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('home')}}">
            <img src="{{ asset('/build/mycelium-150x47.png') }}" title="{{ 'Mycelium project'|trans }}" alt="{{ 'Mycelium project'|trans }}">
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item{% if current_menu is defined and current_menu == 'home' %} active{% endif %}">
            <a class="nav-link" href="{{ path('home')}}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>{{ 'Dashboard'|trans }}</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            {{ 'ROLE_MERCHANT'|trans }}
        </div>

        {% if is_granted('ROLE_MERCHANT') or is_granted('ROLE_ADMIN') %}
            <li class="nav-item{% if current_menu is defined and current_menu == 'product_searches_list' %} active{% endif %}">
                <a class="nav-link" href="{{ path('product_searches_list')}}">
                    <i class="fas fa-search"></i>
                    <span>{{ 'Sought products'|trans }}</span>
                </a>
            </li>
        {% endif %}

        <!-- Nav Item - Tables -->
        <li class="nav-item{% if current_menu is defined and current_menu == 'merchants_list' %} active{% endif %}">
            <a class="nav-link" href="{{  path('merchants_list') }}">
                <i class="fas fa-fw fa-list"></i>
                <span>{{ 'Merchants list'|trans }}</span>
            </a>
        </li>

        {% if is_granted('ROLE_MERCHANT') or is_granted('ROLE_ADMIN') %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'My merchant'|trans }}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('my_product_searches_list') }}">
                    <i class="fas fa-clipboard-list"></i>
                    <span>{{ 'my research'|trans }}</span>
                </a>
                <a class="nav-link" href="{{ path('my_sell_proposal_list')}}">
                    <i class="fas fa-handshake"></i>
                    <span>{{ 'My proposals'|trans }}</span>
                </a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'Transports'|trans }}
            </div>

            {% if is_granted('ROLE_MERCHANT') or is_granted('ROLE_ADMIN') %}
                <li class="nav-item{% if current_menu is defined and current_menu == 'transporters_list' %} active{%
                    endif %}">
                    <a class="nav-link" href="{{ path('transporters_list')}}">
                        <i class="fas fa-car-side"></i>
                        <span>{{ 'Transporters list'|trans }}</span>
                    </a>
                </li>
            {% endif %}


            {% if is_granted('ROLE_TRANSPORTER') %}
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item{% if current_menu is defined and current_menu == 'transporters_search_list' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('transporters_search_list') }}">
                        <i class="fas fa-car-side"></i>
                        <span>{{ 'All transports'|trans }}</span>
                    </a>
                </li>
                <li class="nav-item{% if current_menu is defined and current_menu == 'my_transport_search_list' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('my_transport_search_list') }}">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>{{ 'My transporter searches'|trans }}</span>
                    </a>
                </li>
                <li class="nav-item{% if current_menu is defined and current_menu == 'transport_list_i_answered' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('transport_list_i_answered') }}">
                        <i class="fas fa-check"></i>
                        <span>{{ 'My transport proposals'|trans }}</span>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('transporter_add') }}">
                        <i class="fas fa-car-side"></i>
                        <span>{{ 'Become transporter'|trans }}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                {{ 'Adminstration'|trans }}
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_users_list') }}">
                    <i class="fas fa-user"></i>
                    <span>{{ 'Users'|trans }}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories_list') }}">
                    <i class="fas fa-stream"></i>
                    <span>{{ 'Product categories'|trans }}</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('quantity_unit_list') }}">
                    <i class="fas fa-boxes"></i>
                    <span>{{ 'Quantity units'|trans }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if current_menu is defined and current_menu ==
                    'admin_sell_proposal_list' %} active{% endif %}" href="{{ path('admin_sell_proposal_list')}}">
                    <i class="fas fa-handshake"></i>
                    <span>{{ 'Commercial Proposals'|trans }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if current_menu is defined and current_menu ==
                    'transporters_search_list' %} active{% endif %}" href="{{ path('transporters_search_list')}}">
                    <i class="fas fa-car-side"></i>
                    <span>{{ 'Transport searches'|trans }}</span>
                </a>
            </li>

        {% endif %}

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column{% if current_menu is defined and current_menu == 'home' %} bg-dark-perso
    text-light{% endif %}">
        <div id="content">

            <!-- Topbar Navbar -->
            <nav class="navbar navbar-expand topbar mb-4 static-top shadow{% if current_menu is
                defined and current_menu == 'home' %} bg-dark-perso navbar-dark{% else %} bg-white navbar-light{% endif %}">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">

                        {% if is_granted('ROLE_MERCHANT') and app.user.merchant.id is defined and app.user.merchant.id is not null %}
                            <a class="btn btn-outline-info" href="{{ path('product_search_add')}}" role="button">{{ 'Search a product'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_TRANSPORTER') and app.user.transporter.id is defined and app.user.transporter.id is not null %}
                            <a class="btn btn-outline-info" href="{{ path('my_transport_search_list')}}" role="button">{{ 'Transport on my way'|trans }}</a>
                        {% endif %}
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="{{ 'Search for...'|trans }}" aria-label="{{ 'Search'|trans }}" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    {% if is_granted('ROLE_USER') %}
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                {% if count_notifications %}
                                    <span class="badge badge-danger badge-counter">{{ count_notifications }}</span>
                                {% endif %}
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list firsts-notifications dropdown-menu dropdown-menu-right shadow
                            animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    {{ "Notifications"|trans }}
                                </h6>
                                {% if first_notifications %}
                                    {% for user_notif in first_notifications %}

                                        {% if user_notif.notification.objectChanged == "ProductSearch" %}
                                            {% set classIcon = "search" %}
                                            {% set color = "success" %}
                                            {% if user_notif.notification.eventType == "new" %}
                                                {% set message %}
                                                    {{ "A search has been launched in a category that you are monitoring."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "edit" %}
                                                {% set message %}
                                                    {{ "A search has been edited in a category that you are monitoring."|trans }}
                                                {% endset %}
                                            {% endif %}
                                        {% elseif user_notif.notification.objectChanged == "SellProposal" %}
                                            {% set classIcon = "handshake" %}
                                            {% set color = "info" %}
                                            {% if user_notif.notification.eventType == "new" %}
                                                {% set message %}
                                                    {{ "You have received a new offer for your search."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "edit" %}
                                                {% set message %}
                                                    {{ "An offert for your search have been modified."|trans }}
                                                {% endset %}
                                            {% endif %}
                                        {% elseif user_notif.notification.objectChanged == "TransportSearch" %}
                                            {% set classIcon = "car-side" %}
                                            {% set color = "info" %}
                                            {% if user_notif.notification.eventType == "new" %}
                                                {% set message %}
                                                    {{ "You have received a new transport offer."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "edit" %}
                                                {% set message %}
                                                    {{ "A transport offer have been modified."|trans }}
                                                {% endset %}
                                            {% endif %}
                                        {% elseif user_notif.notification.objectChanged == "TransportProposal" %}
                                            {% set classIcon = "car-side" %}
                                            {% set color = "warning" %}
                                            {% if user_notif.notification.eventType == "new" %}
                                                {% set message %}
                                                    {{ "You have received a new transport proposal."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "edit" %}
                                                {% set message %}
                                                    {{ "A transport proposal have been modified."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "delete" %}
                                                {% set message %}
                                                    {{ "A transport offer have been deleted."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "isInDelivering" %}
                                                {% set message %}
                                                    {{ "Your product is being delivered."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "isDelivered" %}
                                                {% set message %}
                                                    {{ "Your product has been delivered."|trans }}
                                                {% endset %}
                                            {% elseif user_notif.notification.eventType == "buyerAgree" %}
                                                {% set classIcon = "check" %}
                                                {% set color = "success" %}
                                                {% set message %}
                                                    {{ "Your offer has been accepted."|trans }}
                                                {% endset %}
                                            {% endif %}
                                        {% endif %}

                                        <a class="dropdown-item d-flex align-items-center" href="{{ path('mark_as_read', {'userNotification':user_notif.Id }) }}">
                                            <div class="mr-3">
                                                <div class="icon-circle{% if user_notif.readAt %} bg-secondary{% else %} bg-{{ color }}{% endif %}">
                                                    <i class="fas fa-{{ classIcon }} text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">{{ user_notif.notification.createdAt|date("d/m/Y", "Europe/Paris") }}</div>
                                                <span class="{% if user_notif.readAt %}text-gray-500{% else %}font-weight-bold{% endif %}">{{ message }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <div class="ml-3 mt-3 mb-3">
                                        {{ "No notification"|trans }}
                                    </div>
                                {% endif %}
                                <a class="dropdown-item text-center small text-gray-500" href="{{ path('my_notifications_list')}}">{{ "Show All notifications"|trans }}</a>
                            </div>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ app.user.username }}</span>
                                <i class="fas fa-user-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="{{ path('my_account_edit') }}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {{ 'My account'|trans }}
                                </a>
                                {% if is_granted('ROLE_MERCHANT') and app.user.merchant.id is defined and app.user.merchant.id is not null %}
                                    <a class="dropdown-item" href="{{ path('merchant_page', { 'businessId': app.user.merchant.id, 'slug': app.user.merchant.slugify }) }}">
                                        <i class="fas fa-store fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {{ 'My business'|trans }}
                                    </a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('merchant_add') }}">
                                        <i class="fas fa-store fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {{ 'Become a merchant'|trans }}
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_TRANSPORTER') and app.user.transporter.id is defined and app.user.transporter.id is not null %}

                                    <a class="dropdown-item" href="{{ path('transporter_edit', { 'transporter': app.user.transporter.id }) }}">
                                        <i class="fas fa-car-side fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {{ 'Transporter account'|trans }}
                                    </a>
                                {% else %}
                                    <a class="dropdown-item" href="{{ path('transporter_add') }}">
                                        <i class="fas fa-car-side fa-sm fa-fw mr-2 text-gray-400"></i>
                                        {{ 'Become transporter'|trans }}
                                    </a>
                                {% endif %}
                                <a class="dropdown-item disabled" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {{ 'Settings'|trans }}
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('logout') }}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    {{ 'Sign Out'|trans }}
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link" href="{{ path('user_registration')}}">
                                <span>{{ 'Create an account'|trans }}</span>
                            </a>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link" href="{{ path('login')}}">
                                {{ 'Log in'|trans }}
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>

            <div class="container mt-5 mb-4">
                {% block body %}{% endblock %}
            </div>
        </div>


        <footer class="sticky-footer bg-dark-perso text-center text-light">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Projet initié par la <a target="_blank" href="https://www.ville-cusset.com/">ville de Cusset</a>. Plus d'informations sur <a target="_blank" href="https://gitlab.com/nossibe/mycelium-project">GitLab</a>.</span>
                </div>
            </div>
        </footer>
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


{% block javascripts %}

    {{ encore_entry_script_tags('global') }}
    {{ encore_entry_script_tags('app') }}

{% endblock %}

</body>
</html>
