{{ form_start(form) }}

<div class="row">
    <div class="col-md-10">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.published) }}
    </div>
</div>

{{ form_rest(form) }}

<button class="btn btn-primary">{{ buttonValue }}</button>

{{ form_end(form) }}