{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit the catégory'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Edit the catégory'|trans }}</h1>

         {{ include('productCategory/_form.html.twig', {form: form, 'buttonValue': 'Edit'|trans}) }}

{% endblock %}