{% extends 'base.html.twig' %}

{% block title %}{{ 'Add a category'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Add a category'|trans }}</h1>

    {{ include('productCategory/_form.html.twig', {form: form, 'buttonValue': 'Create'|trans}) }}

{% endblock %}