{% extends 'base.html.twig' %}

{% block title %}{{ 'Categories'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-store"></i> {{ 'Categories'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Category'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Parent category'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Activated'|trans }}</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>{{ category.name }}<br></td>
                <td>{{ category.parent  }}</td>
                <td class="text-center mdIcon">{% if category.published %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center">
                        <a href="{{ path('category_edit', { 'category': category.id }) }}" class="btn btn-info"
                           title="{{
                        'Edit'|trans}}"><i class="fas fa-edit"></i></a>
                        <form method="post" action="{{ path('admin_category_delete', { 'id': category.id }) }}"
                              class="d-inline" onsubmit="return confirm('{{ 'Do you really want to delete this category?'|trans }}')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('deleteCategory' ~ category.id) }}">
                            <button class="btn btn-danger d-inline" title="{{ 'Remove'|trans }}"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('category_add') }}" class="btn btn-dark">{{ 'Add a new category'|trans }}</a>

{% endblock %}