{% extends 'base.html.twig' %}

{% block title %}{{ 'Transport searches'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-car-side"></i> {{ 'Transport searches'|trans }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Delivery deadline'|trans }}</th>
            <th scope="col">{{ 'Place of collection'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Place of delivery'|trans }}</th>
            <th scope="col" class="text-center">{{ 'Actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for transport_search in transport_searches %}
            <tr class="text-secondary">
                <th scope="row">
                    {{ transport_search.id }}
                </th>
                <td>
                    {{ transport_search.date|format_datetime() }}
                </td>
                <td{% if transport_search.sellProposal.seller.city.id in my_cities_served %} class="text-success"{% endif %}>
                    {{ transport_search.sellProposal.seller.city.name }} <small>({{ transport_search.sellProposal.seller }})</small>
                </td>
                <td{% if transport_search.sellProposal.productSearch.merchant.city.id in my_cities_served %} class="text-success"{% endif %}>
                    {{ transport_search.sellProposal.productSearch.merchant.city.name }} <small>({{ transport_search.sellProposal.productSearch.merchant }})</small>
                </td>
                <td class="text-center">
                    {% if transport_search in my_transporter_searches_answered %}
                        {% for my_transport_proposal in my_transport_proposals %}
                            {% if my_transport_proposal.transportSearch == transport_search %}
                                {% if (transport_search not in transport_search_closed) or (my_transport_proposal.buyerAgreement == true) %}
                                    {% if my_transport_proposal.buyerAgreement == true %}

                                        {% if my_transport_proposal.delivered == null %}
                                            <button class="btn btn-success" title="{{ 'Your transport proposal has been accepted'|trans }}" data-toggle="modal" data-target="#modal-{{ my_transport_proposal.id }}">
                                        {% else %}
                                            <button class="btn btn-secondary" title="{{ 'This search is over'|trans }}" data-toggle="modal" data-target="#modal-{{ my_transport_proposal.id }}">
                                        {% endif %}
                                    {% else %}
                                        <div class="mt-3 mb-3">
                                    {% endif %}
                                        {{ my_transport_proposal.deliveryTime|format_date(locale='fr') }} - {{ my_transport_proposal.recoveryTime|format_time(locale='fr') }} <i class="fas fa-chevron-right"></i> {{ my_transport_proposal.deliveryTime|format_time(locale='fr') }}
                                        {% if my_transport_proposal.buyerAgreement == true %}
                                            {% if my_transport_proposal.delivered == null %}
                                                <i class="fas fa-check"></i>
                                            {% else %}
                                                <i class="fas fa-lock"></i>
                                            {% endif %}
                                        {% else %}
                                            <form method="post" action="{{ path('transport_proposal_delete', { 'id':my_transport_proposal.id }) }}" class="d-inline" onsubmit="return confirm('{{ 'Do you really want to delete this transport proposal?'|trans }}')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('deleteTransportProposal' ~ my_transport_proposal.id) }}">
                                                <button class="btn btn-outline-danger d-inline " title="{{ 'Remove your transport proposal'|trans }}"><i class="fas fa-trash-alt"></i></button>
                                            </form>
                                        {% endif %}
                                        {% if my_transport_proposal.buyerAgreement == true %}
                                            </button>
                                        {% else %}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                            {% endif %}
                            {% if my_transport_proposal.buyerAgreement == true %}
                                <!-- Transport informations Modal -->
                                <div class="modal fade" id="modal-{{ my_transport_proposal.id }}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                {% if my_transport_proposal.delivered == null %}
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ 'Your transport proposal has been accepted'|trans }}</h5>
                                                {% else %}
                                                    <h5 class="modal-title" id="exampleModalLabel">{{ 'This search is over'|trans }}</h5>
                                                {% endif %}
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            {% if my_transport_proposal.delivered == null %}
                                                <div class="modal-body">
                                            {% else %}
                                                <div class="modal-body text-gray-300">
                                            {% endif %}
                                                <div>
                                                    {{ 'Please collect the item to be transported at'|trans }} :
                                                    <br>
                                                    <strong class="h4">{{ my_transport_proposal.sellProposal.seller.businessName }}</strong>
                                                    <br>
                                                    <strong>{{ my_transport_proposal.sellProposal.seller.address }}</strong>
                                                    <br>
                                                    <strong>{{ my_transport_proposal.sellProposal.seller.city.postalCode }} {{ my_transport_proposal.sellProposal.seller.city.name }}</strong>
                                                    <br>
                                                    {{ 'Recovery date'|trans }} <strong>{{ my_transport_proposal.recoveryTime|format_datetime('long', locale='fr') }}</strong>
                                                </div>
                                                <div class="h2">
                                                    <i class="fas fa-chevron-down"></i>
                                                </div>
                                                <div>
                                                    {{ 'And deliver to'|trans }} :
                                                    <br>
                                                    <strong class="h4">{{ my_transport_proposal.transportSearch.sellProposal.ProductSearch.merchant.businessName }}</strong>
                                                    <br>
                                                    <strong>{{ my_transport_proposal.transportSearch.sellProposal.ProductSearch.merchant.address }}</strong>
                                                    <br>
                                                    <strong>{{ my_transport_proposal.transportSearch.sellProposal.ProductSearch.merchant.city.postalCode }}  {{ my_transport_proposal.transportSearch.sellProposal.ProductSearch.merchant.city.name }}</strong>
                                                    <br>
                                                    {{ 'Delivery date'|trans }} <strong>{{ my_transport_proposal.deliveryTime|format_datetime('long', locale='fr') }}</strong>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">{{ 'Close'|trans }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if transport_search not in transport_search_closed %}
                            <a href="{{ path('transport_proposal_add', {'transportSearch': transport_search.id }) }}" class="btn btn-success" title="{{ 'Add a new proposal'|trans }}">
                                <i class="fas fa-plus"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if transport_search in transport_search_closed %}
                            <button class="btn btn-secondary desabled">{{ 'Transport search closed'|trans }}</button>
                        {% else %}
                            <a href="{{ path('transport_proposal_add', {'transportSearch': transport_search.id }) }}" class="btn btn-success" title="{{ 'I accept this transport'|trans }}">
                                <i class="fas fa-plus"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(transport_searches) }}
    </div>

{% endblock %}