{{ form_start(form) }}


{% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.published) }}
{% endif %}

{{ form_rest(form) }}

<button class="btn btn-primary">{{ buttonValue|trans }}</button>

{{ form_end(form) }}