{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ 'Edit user'|trans }} | {{ parent() }}
    {% else %}
        {{ 'Edit my profile'|trans }} | {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <h1>{{ 'Edit user'|trans }}</h1>
    {% else %}
        <h1>{{ 'Edit my profile'|trans }}</h1>
    {% endif %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ include('user/_form.html.twig', {form: form, 'buttonValue': 'Edit'}) }}

{% endblock %}
