{% extends 'base.html.twig' %}

{% block title %}{{ 'Registration'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ 'Registration'|trans }}</h1>

    {{ include('user/_form.html.twig', {form: form, 'buttonValue': 'I\'m registering'}) }}

{% endblock %}