{% extends 'base.html.twig' %}

{% block title %}{{ 'Users'|trans }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1><i class="fas fa-store"></i> {{'Users'|trans}}</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{'Pseudo'|trans}}</th>
            <th scope="col">{{'Full Name'|trans}}</th>
            <th scope="col">{{'Email'|trans}}</th>
            <th scope="col">{{'Roles'|trans}}</th>
            <th scope="col">{{'Registration date'|trans}}</th>
            <th scope="col">{{'Activated'|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.userName }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles }}</td>
                <td>{{ user.inscriptionDate }}</td>
                <td>{{ user.published }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}